<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="accountService" class="com.mycompany.spring.spring_framework.core.bean.scopes.service.AccountServiceImpl"/>
	
	<!-- scope singleton (default) equivalent to above -->
	<bean id="accountService2" class="com.mycompany.spring.spring_framework.core.bean.scopes.service.AccountServiceImpl"
	 					scope="singleton">
	</bean>
	
	<bean id="accountService3" class="com.mycompany.spring.spring_framework.core.bean.scopes.service.AccountServiceImpl"
	 					scope="prototype">
	</bean>
	
</beans>
